<!-- The socialPosts component is the parent component.
i. It owns the list of posts.
ii. Its template contains the ngForOf for posts and the “New Post” button.
iii. The other two components are created inside of its template.
iv. has an onSubmit method that responds to the submitted event -->

  <h1>
    {{ title | titlecase }}
  </h1>
  <p [ngClass]="{componentMargins: isMargin, componentWidths: isWide, flexing: isflexElem}">
    <button name="newPostBtn"  [ngClass]="{padded: isPadded, widths: isWidths}" (click)="toggleForm()">New Thought</button>
  </p>       
  <form>
    <div>            
        <post
        *ngFor = 'let posts of postList; let i = index'
        [postList] = "posts"
        (delete)="delPost(i)"
        ></post>
    </div>        
  </form>

  <form id="formBoxShow" *ngIf="main" [ngClass]="{componentMargins: isMargin, rounded: isRounded, padded: isPadded, flexing: isflexElem}">
   <postForm (submitted)="onSubmitEvent($event)"></postForm>  
  </form>
  <form *ngIf="!main"></form>
