form {
    width: 50%; 
    margin: auto;
    background-color: white;
    border-radius: 2px solid black;
}

div {
    flex-direction: column;
    padding: 4%;
    border: 1px solid black;
    border-radius: 4px;
}

h1 {
    font-size: 3.5vw; 
    font-family: 'Satisfy', cursive;
    color: rgb(104, 202, 156);
    text-align: center; 
    background-color: lightgray; 
    margin: none; 
    border: none; 
    padding: none;
}

button {
    background-color: white;
    color: black; 
    align-content: center; 
    border: 1px solid; 
    border-radius: 4px;
    padding-top: 4px;
}

.componentWidths {
    margin: auto;
    width: 50%;
}

.rounded {
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
}

#formBoxShow {
    background-color: lightblue; 
    width: 40%; 
    padding:3% 6% 1%;
}

.padded {
    padding: 1%;
}

.flexing {
    display: flex;
    flex-direction: column;
}

.componentMargins {
    margin: 1.5% auto;
}

