<!-- The socialPosts component is the parent component.
i. It owns the list of posts.
ii. Its template contains the ngForOf for posts and the “New Post” button.
iii. The other two components are created inside of its template.
iv. has an onSubmit method that responds to the submitted event -->

<body [ngClass]="{flexing: isflexElem}" style="margin: auto;">
  <h1 style="text-align:center; background-color: lightgray; margin: none; border: none; padding: none;">
    {{ title | titlecase }}
  </h1>
  <p [ngClass]="{componentMargins: isMargin, componentWidths: isWide, flexing: isflexElem}">
    <button name="newPostBtn" style="background-color: white; color: black; align-content: center; border: 1px solid; 
    border-radius: 4px;" [ngClass]="{padded: isPadded, widths: isWidths}" (click)="toggleForm()">New Thought</button>
  </p>       
  <form [ngClass]="{componentMargins: isMargin, rounded: isRounded, padded: isPadded, componentWidths: isWide, flexing: isflexElem}">
    <div id="listTasks" style="list-style: none; padding: 3% 0 7%;"  [ngClass]="{flexing: isflexElem}" >            
        <post
        *ngFor = 'let posts of postList; let i = index'
        [postList] = "posts"
        (delete)="delPost(i)"
        ></post>
    </div>        
  </form>

  <form name="postBoxShow" *ngIf="main" action="" style="background-color: lightblue; width: 60%; padding:3% 6% 1%" [ngClass]="{componentMargins: isMargin, rounded: isRounded, padded: isPadded, flexing: isflexElem}">
   <postForm (submitted)="onSubmitEvent($event)"></postForm>  
  </form>
  <form *ngIf="!main"></form>
</body>