

#indivThought {
    width: 94%; 
    padding-left: 4%;
    padding-bottom: 2%;
}

#indvPost{    
    display:flex; 
    flex-direction:column;
    width: 93%;
    margin: auto;
}

#indvPost:last-child {
margin-bottom: 4%;
}

#postAndBtn {
    display: flex;
    flex-direction: row;
}

p {    
    margin: auto;
    width: 94%;
    height: .1em; 
    border-bottom: 1px solid grey;
    /* background-color: greenyellow; */

}

h4 {
    width: 93%;
    padding: 0 3.5% ; 
    margin: .5em auto .2em;
    /* background-color: greenyellow; */
}

button {
    background-color: white;
    width: 6%; 
    border: none;
}

.flexing {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}



