<!-- The postForm component displays the new post form.
i. It has one output binding called submitted that emits and event. -->

<h5>Title</h5>
  <p>
    <input name="addTitle" type="text" placeholder="Post title" [(ngModel)]="titleInput" [ngClass]="{rounded: isRounded, widths: isWidths, flexing: isflexElem}" />
  </p>
<h5>Thought</h5>
  <p>
     <textarea name="addTodo" type="text" [(ngModel)]="postInput" style="height: 200px;" [ngClass]="{rounded: isRounded, padded: isPadded, widths: isWidths, flexing: isflexElem}"></textarea>
  </p> 
  <p id="addPost">
     <button (click)="submit()" name="submitPostBtn" style="background-color: white;" [ngClass]="{rounded: isRounded, widths: isWidths}" >Add Post</button>
  </p>
  
