.rounded {
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
}

.padded {
    padding: 1%;
}

.widths {
    width: 100%;
}

input:focus {
    width: 105%;
    font-size: 125%;
    outline: none;
   }
 
 input {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
   }
 
 
 textarea:focus {
    height: 200px;
    width: 105%;
    font-size: 125%;
    outline: none;
   }
 
   textarea {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
 
   }