<!-- The postForm component displays the new post form.
i. It has one output binding called submitted that emits and event. -->

<!-- <form name="postBoxShow" *ngIf="main" action="" style="background-color: lightblue; width: 55%; padding:3% 6% 1%" [ngClass]="{componentMargins: isMargin, rounded: isRounded, padded: isPadded, flexing: isflexElem}">
        <h5>Title</h5>
      <p>
        <input name="addTitle" type="text" placeholder="Post title" [(ngModel)]="titleInput" [ngClass]="{rounded: isRounded, padded: isPadded, widths: isWidths, flexing: isflexElem}" />
      </p>
        <h5>Thought</h5>
      <p>
        <input name="addTodo" type="text" [(ngModel)]="postInput" [ngClass]="{rounded: isRounded, padded: isPadded, widths: isWidths, flexing: isflexElem}" />
      </p> 

      <p style="margin-top: 3%;">
        <button name="newPostBtn" style="background-color: white; color: black; align-content: center; border: 1px solid; " [ngClass]="{rounded: isRounded, padded: isPadded, widths: isWidths}" (click)="submitted()">Add Post</button>
      </p>
  </form>
  <form *ngIf="!main"></form> -->